* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: 'Inter', sans-serif;
}

header {
    height: 6.875rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.6);
}

button {
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

button:active {
    transform: translate(0.075rem 0.075rem);
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

.no-underline {
    text-decoration: none;
}

.selected {
    font-weight: 800;
    text-decoration: underline;
    color: #161616;
}

.site-logo {
    font-size: 25.35px;
    font-weight: 900;
    line-height: 40.27px;
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

nav > a {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.92px;
    text-decoration: none;
    color: #4D4D4D;
}

nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 800;
}

nav > a > svg {
    margin-top: 0.075rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #161616;
}

.logout-button {
    background-color: #E17654;
    color: #FFFFFF;
    font-weight: 700;
    border: 0.125rem solid #4D4D4D;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    transition: transform ease-in-out;
}

.logout-button:active {
    transform: translate(0.075rem, 0.075rem);
}

.logout-button > svg {
    font-weight: bold;
}

.menu-button {
    padding: 0.4rem 0.6rem;
    border: 0.125rem solid #4D4D4D;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform ease-in-out;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);
    position: relative;
}

.menu-button:active {
    transform: translate(0.075rem, 0.075rem);
}

.menu-dropdown {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 01rem;
    align-items: center;
    gap: 1rem;
    border-radius: 0.4rem;
    background-color: white;
    border: 0.125rem solid #4D4D4D;
    position: absolute;
    right: 1rem;
    top: 5rem;
}

.menu-dropdown > button {
    align-self: center;
}

.menu-item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.125rem solid #4D4D4D;
}

.menu-item > a {
    padding-bottom: 0.5rem;
    text-decoration: none;
    color: #161616;
}

/* Profile Page -----------------------------------------------------*/

.profile-page-container {
    padding: 1rem 1.5rem;
}

.profile-container {
    padding: 1rem 1rem;
    border: 0.125rem solid #4D4D4D;
    border-radius: 0.4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}

.edit-profile-button {
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    background-color: #161616;
    color: #FFFFFF;
    font-weight: bold;
    transition: transform ease-in-out;
}

.edit-profile-button:active {
    transform: translate( 0.075rem, 0.075rem);
}




/* Login Page -----------------------------------------------------*/

.login-page-container {
    margin-top: 2rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-container {
    width: 90%;
    max-width: 40rem;
    min-width: 20rem;
}

.login-form-container > form > input {
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    border: 0.125rem solid #AAAAAA;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
}

.password-input-and-eyebutton-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0;
    margin-bottom: 2rem;
}

.password-input-and-eyebutton-container > input {
    padding: 0.6rem 1rem;
    border-bottom-left-radius: 0.4rem;
    border: 0.125rem solid #AAAAAA;
    border-right: none;
    width: 85%;
}

.password-input-and-eyebutton-container > button {
    padding: 0.53rem;
    border: 0.125rem solid #AAAAAA;
    border-left: none;
    background-color: white;
    border-bottom-right-radius: 0.4rem;
    width: 15%;
    font-size: 1.125rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-err-msg-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.login-err-msg {
    color: red;
    
}

.sign-in-button {
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    border: none;
    font-size: 1.125rem;
    letter-spacing: 0.075rem;
    background-color: #FF8C38;
    font-weight: bold;
    color: white;
    margin-bottom: 2rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: transform ease-in-out;
}

.sign-in-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.sign-in-button:active {
    transform: translate(0.075rem, 0.075rem);
}

.login-page-signup-link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.login-page-signup-link-container a {
    text-decoration: none;
    color: #E17654;
    font-weight: bold;
    cursor: pointer;
}

.login-page-signup-link-container a:hover {
    text-decoration: underline;
}



/* Signup Page -----------------------------------------------------*/

.signup-page-container {
    padding: 3rem 1.5rem;
}

.signup-form-container {
    max-width: 40rem;
    min-width: 20rem;
    border: 2px solid #4D4D4D;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    border-radius: 0.4rem;
}

.signup-form-container form {
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.signup-form-container form > input {
    padding: 0.6rem 1rem;
    width: 100%;
    border-radius: 0.4rem;
    border: 0.125rem solid #AAAAAA;
}

/* .signup-form-container form input {

} */


.signup-page-password, .signup-page-repassword {
    margin-bottom: 0;
}

.signup-page-password > input , .signup-page-repassword > input {
    border-top-left-radius: 0.4rem;
}

.signup-page-password > button , .signup-page-repassword > button {
    border-top-right-radius: 0.4rem;
}

.signup-form-container form select {
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    width: 50%;
}

.role-selector {
    margin-bottom: 2rem;
}

.reg-err-msg {
    color: red;
    font-weight: 600;
}

.register-user-button {
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    background-color: #FF8C38;
    color: white;
    font-weight: bold;
    border: none;
    letter-spacing: 0.075rem;
    font-family: 'Inter', sans-serif;
    align-self: flex-end;
    cursor: pointer;
}

.register-user-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}


/* Home Page -----------------------------------------------------*/

.home-container {
    background: url("./images/home-background.png") no-repeat center center;
    background-size: cover;
    min-height: 21.875rem;
    padding: 3rem 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.home-container > h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 42px;
}

.home-container > p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.home-container > a {
    align-self: center;
    background-color: #FF8C38;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
    width: 100%;
    text-align: center;
    padding: 0.3rem 0;
    border-radius: 0.3rem;
    margin-top: 1.75rem;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
    text-decoration: underline;
}

/* About Page -----------------------------------------------------*/

.about-page-image {
    width: 100%;
}

.about-page-content {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 3.5rem;
}

.about-page-content > h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.about-page-content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #161616;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding:  0 2rem;
    padding-bottom: 2rem;
    margin: 0 1.75rem;
    border-radius: 0.5rem;
}

.about-page-cta h2 {
    margin: 0;
    padding: 2.25rem 0;
}

.about-page-cta .link-button {
    color: white;
    background-color: #161616;
    border-radius: 0.625rem;
}


/* Vans Page -----------------------------------------------------*/

.vans-list-container {
    padding: 0 1.5rem;
}

.filter-buttons-container {
    width: 70%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.type-filter-button {
    background-color: #f68360;
    border: none;
    cursor: pointer;
}

.vans-list {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.van-card-container  a {
    color: #161616;
    text-decoration: none;
}

.van-card-img {
    width: 100%;
    border-radius: 0.3rem;
}

/* .van-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.van-card-info > h2 {
    color: #161616;
    font-size: 20px;
    font-weight: 600;
    line-height: 31.66px;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.van-card-info p {
    margin-top: 0.5rem;
    color: #161616;
}

.van-card-info > p > span {
    font-weight: 700;
}

.van-type {
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 0.4rem;
}

.simple {
    background-color: #E17654;
}

.luxury {
    background-color: #161616;
}

.rugged {
    background-color: #115E59;
}



/* Van Details Page -----------------------------------------------------*/

.van-details-container {
    padding: 0 1.5rem;
}

.van-details-backnav {
    display: block;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.van-details {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.van-detail-main-image { 
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 0.4rem;
}

.van-price {
    margin-top: 0;
    font-weight: 800;
}

.van-details p {
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.92px;
}

.van-details h4 {
    margin-top: 0;
}

.van-description {
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
}

.van-details-rent-btn {
    background-color: #E17654;
    padding: 0.6rem;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 0.3rem;
    color: white;
    font-weight: 700;
    text-align: center;
    border: none;
    cursor: pointer;    
    transition: transform .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.van-details-rent-btn:hover {
    transform: translate(1px, 1px);
}

.van-details-rent-btn > svg {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}


/* Booking Section -----------------------------------------------------*/

.van-booking-page-container {
    padding: 2rem 1.5rem;
}

.van-booking-container {
    max-width: 40rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 0.25rem solid #AAAAAA;
    border-radius: 0.5rem;
    padding: 1rem;
}

.van-preview-card-container {
    width: 100%;
}

.van-preview-card {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.6);
}

.booking-preview-image {
    height: 4rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.6);
}

.booking-van-preview-info > h2 {
    margin-bottom: -0.5rem;
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.6);
}

.booking-form-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
}

.from-date-container, .till-date-container, .contact-number-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.booking-form  input {
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
}

.booking-check-availability-button {
    padding: 0.6rem 1rem;
    background-color: #161616;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0.4rem;
    transition: transform ease-in-out;
    cursor: pointer;
    letter-spacing: 0.075rem;
}

.booking-check-availability-button:active {
    transform: translate(0.075rem, 0.075rem);
}

.booking-check-availability-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.booking-error-message {
    color: red;
    padding: 1rem 1.5rem;
    margin: 0;
    background-color: #FFFFFF;
    border-radius: 0.rem;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.6);
    border-radius: 0.4rem;
}

.book-van-button {
    padding: 0.6rem 1rem;
    color: #FFFFFF;
    background-color: #E17654;
    font-weight: bold;
    border-radius: 0.4rem;
    letter-spacing: 0.075rem;
    font-size: 1rem;
    border: none;
}


/* Booking Section -----------------------------------------------------*/

.my-bookings-page-container {
    padding: 1.5rem 1.5rem;
}

.my-bookings-container , .my-bookings-note-section, .my-bookings-card-container {
    width: 100%;
    max-width: 40rem;
    min-width: 20rem;
}

.my-bookings-note-section {
    padding: 1rem;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.6);
    border-radius: 0.4rem;
    margin-bottom: 1.5rem;
}

.my-bookings-card-container {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.my-bookings-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 1rem;
    background-color: #FFFFFF;
    border-radius: 0.4rem;
    border: 0.125rem solid #E17654;
}

.my-bookings-card > a {
    text-decoration: none;
    color: #161616;
}

.my-bookings-card-van-preview {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.my-bookings-card-info-container > h2 {
    margin: 0;
    margin-bottom: 0.25rem;
}

.my-bookings-card-info-container > p {
    margin: 0;
    margin-bottom: 0.125rem;
}

.my-bookings-card-image {
    width: 30%;
    max-width: 10rem;
    min-width: 4rem;
    border-radius: 0.4rem;
}

.my-bookings-card-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pay-button {
    width: 35%;
    padding: 0.6rem 1rem;
    background-color: #115E59;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
}

.cancel-booking-button {
    width: 35%;
    padding: 0.6rem 1rem;
    background-color: rgb(249, 76, 76);
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
}

.display-none {
    display: none;
}


.my-bookings-page-no-booking-yet-banner-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-bookings-page-no-booking-yet-banner-container > .svg-container > svg {
    font-size: 15rem;
    color: #f68360;
}


/* Booking Details Section -----------------------------------------------------*/

.booking-details-page-container {
    margin: 1.5rem;
}

.booking-details-page {
    padding: 1rem;
    background-color: #FFFFFF;
    max-width: 40rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}

.booking-details {
    display: flex;
    flex-direction: column;
}

.booking-details-van-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.125rem solid #161616;
}

.van-info > p {
    margin-bottom: 0;
}

.booking-details-image-container {
    width: 30%;
    max-width: 10rem;
}

.booking-details-image-container > img {
    width: 100%;
    display: block;
    border-radius: 0.4rem;
}

.booking-details-booking-info-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.booking-info-formatter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking-info-description-formatter {
    display: flex;
    flex-direction: column;
}

.bottom-line {
    border-bottom: 0.125rem solid #d6d6d6;
}



/* Host Section -----------------------------------------------------*/

.host-navbar-container {
    margin-top: 2rem;
    padding: 0 1.5rem;
    width: 60%;
    max-width: 25rem;
    display: flex;
    margin-bottom: 2.5rem;
    justify-content: space-between;
}

.sub-navbar-elem {
    color: #4D4D4D;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.sub-navbar-elem:hover {
    font-size: 1.05rem;
    font-weight: 800;
    text-decoration: underline;
}


/* Host vans -----------------------------------------------------*/

.host-income-page-container{
    margin: 1.5rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 40rem;
}

.host-income-page-title {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.25rem;    
}

.host-income-page-filter-container {
    margin-bottom: 1rem;
}

.host-income-filter-title {
    margin-right: 0.5rem;
}

.host-income-filter-selector {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.375rem;
}

.host-income-bar-graph-container {
    width: 100%;
    max-width: 40rem;

}

.host-income-summary-container {
    margin-top: 1rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: #f3f4f6;
}


/* Host vans -----------------------------------------------------*/

.host-vans-page-container {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
}

.host-vans-page-container h1 {
    margin-top: 0;
    margin-bottom: 2rem;
}

.host-vans-container {
    display: flex;
}

.host-van-card {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #161616;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    box-shadow: 0.125rem 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.host-van-link {
    text-decoration: none;
    color: #161616;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.host-van-edit-link {
    margin-right: 1rem;
    color: #161616;
}

.host-van-edit-link:hover{
    font-weight: bold;
}

.host-van-card-image {
    width: 15%;
    border-radius: 0.4rem;
}

.host-van-card-info h3 {
    margin-bottom: 0;
}

.host-van-card-info p {
    margin-top: 0;
}

.host-van-page-add-van-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #161616;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    margin-top: 3rem;
    align-self: flex-end;
}


/* Create Host vans -----------------------------------------------------*/

.Add-host-van-form-page-container {
    margin: 3rem 1.5rem;
    max-width: 40rem;
    min-width: 20rem;
}

.Add-host-van-form-page-container > form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 1.5rem;
    border: 0.125rem solid #4D4D4D;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    border-radius: 0.4rem;
}

.Add-host-van-form-page-container > form > input {
    padding: 0.6rem 1rem;
    width: 100%;
    border-radius: 0.4rem;
    border: 0.125rem solid #AAAAAA;
}

.Add-host-van-form-page-container > form > select {
    padding: 0.6rem 1rem;
    width: 100%;
    border-radius: 0.4rem;
    border: 0.125rem solid #AAAAAA;
}

.add-van-upload-images::file-selector-button {
    padding: 0.3rem 1rem;
    border-radius: 0.4rem;
    background-color: transparent;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.add-van-button {
    padding: 0.6rem 1rem;
    align-self: self-end;
    background-color: #FF8C38;
    color: white;
    font-weight: 700;
    letter-spacing: 0.075rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(146, 121, 121, 0.6);
    transition: transform ease-in-out;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.add-van-button:hover {
    transform: translate(0.075rem, 0.075rem);
}

.add-van-button:active {
    transform: translate(0.15rem, 0.15rem);
}

.add-van-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}




/* Host van details -----------------------------------------------------*/

.host-van-details-page-container {
    padding: 0 1.5rem;
}

.back-nav-link {
    text-decoration: none;
    color: #161616;
    font-weight: 700;
}

.host-van-details-container {
    background-color: white;
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(146, 121, 121, 0.6);
}

.host-van-details-preview {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.price {
    font-weight: bold;
}
.span-bold {
    font-weight: bold;
    font-size: 1.125rem;
}

.span-normal {
    font-weight: 400;
    font-size: 1rem;
}

.host-van-details-image {
    width: 35%;
    height: 35%;
    max-width: 10rem;
    max-height: 10rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
}

.host-van-details-navbar-container {
    width: 50%;
    min-width: 12rem;
    max-width: 15rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
    border-bottom: 0.125rem solid #161616;
    margin-bottom: 2rem;
}

.host-vans-details-info-container p {
    line-height: 1.5rem;
    font-weight: 500;
}

.van-buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.edit-van-button, .delete-van-button {
    padding: 0.6rem 1rem;
    background-color: #115E59;
    color: #FFFFFF;
    border-radius: 0.4rem;
    border: none;
    font-weight: bold;
    letter-spacing: 0.05rem;
    cursor: pointer;
    text-decoration: none;
}

.delete-van-button {
    background-color: crimson;
    font-size: 1rem;
}

.host-van-details-page-photos-container {
    display: flex;
    gap: 1.2rem;
    padding: 0.8rem 1rem;
    overflow-x: scroll;
    width: 60%;
    max-width: 30rem;
    /* border: 0.075rem solid #4D4D4D; */
}

.host-van-details-page-photos-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Opera */
  }

.host-van-details-page-photos-container img {
    width: 4rem;
    height: 4rem;
    border-radius: 0.3rem;
}



/* Footer -----------------------------------------------------*/

/* Wrapping Outlet in layout.jsx in semantic main tag */
main {
    /* margin-top: 2rem; 
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto; */
    margin-bottom: 5rem;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 6rem;
    background-color: #161616;
    color: #AAAAAA;
    font-weight: 500;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.6);
}